ion-item{
    --background: #3880ff;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}

ion-content{
    --background: url('../../assets/movie.png');
    --color: white;
 
}

.f-size{
    font-size: 40px;
}