<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BIL CINEMAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-slides #mySlider autoplay="1000" loop="true" speed="500" pager="true" (ionSlidesDidLoad)="slideChanged(mySlider)" [options]="slideOpts" >
    <ion-slide >
      <ion-img src="/assets/firstmovie2.jpg"  class="pr"></ion-img>  
    </ion-slide>
    <ion-slide>
        <ion-img src="/assets/firstmovie.jpg" class="pr"></ion-img> 
    </ion-slide>
    <ion-slide>
        <ion-img src="/assets/firstmovie1.jpg" class="pr"></ion-img> 
    </ion-slide>
    <ion-slide>
        <ion-img src="/assets/firstmovie.jpg" class="pr"></ion-img> 
    </ion-slide>
    <ion-slide>
        <ion-img src="/assets/firstmovie1.jpg" class="pr"></ion-img> 
    </ion-slide>  
</ion-slides>

<ion-grid >
  <ion-row>
    <ion-col col-6 *ngFor="let i of movies">
        <ion-card >
            <ion-img src="{{i.image_url}}"></ion-img>
            <h4 class="set_text">{{i.name}}</h4>
                <ion-button id="button2" (click)="onBook(i)">Book Now</ion-button>
          </ion-card> 
    </ion-col>

    <!-- <ion-col col-6>
        <ion-card >
            <ion-img class="set_height" src="/assets/dragon.jpg"></ion-img>
            <h4 class="set_text">
             Avengers </h4>
             <ion-button id="button2" (click)="myMovie()">Book Now</ion-button>
          </ion-card>
    </ion-col> -->
  </ion-row>
</ion-grid>    
</ion-content>

<ion-toolbar>
  <ion-searchbar animated placeholder="Serach movies" showCancelButton cancelButtonText="Cancel search"></ion-searchbar>
</ion-toolbar>