  #button2{
    --background: yellowgreen;   
    }

  #img2 {
    width: 100%
  }

  .card1 {
    position: absolute ;
    // top:0;
    margin-top:-130px;
    background : white;
    width: 92%;
  }