<ion-content>
<ion-card>
  <ion-item>
    <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
    <ion-label>{{movie.name}}</ion-label>
    <ion-button (click)="google_maps()" fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    <p>17 Mar,2019</p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
      <ion-label>Tickets</ion-label>
  <ion-input  [(ngModel)]="tickets_need"></ion-input>  <br>
</ion-item>
  
      <ion-item>
        <ion-label>Gender</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
    
    <ion-item>
      <ion-label>Movie Time</ion-label>
      <ion-select [(ngModel)]="movie_time" value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="10:00AM">10:00AM</ion-select-option>
        <ion-select-option value="12:30PM">12:30PM</ion-select-option>
        <ion-select-option value="2:15PM">2:15PM</ion-select-option>
        <ion-select-option value="7:00PM">7:00PM</ion-select-option>
      </ion-select>
    </ion-item>
  
  <ion-item>
    <ion-label>Select City</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="kolkata">Kolkata</ion-select-option>
      <ion-select-option value="banglore">Banglore</ion-select-option>
      <ion-select-option value="delhi">Delhi</ion-select-option>
      <ion-select-option value="mumbai">Mumbai</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime [(ngModel)]="movie_date" picker-format="  MM DD, YYYY" display-format="MM DD, YYYY"></ion-datetime>
  </ion-item>

</ion-card>
</ion-content>


<ion-button id="button2" shape="round" (click)="onBooking()">Make Payment</ion-button>